.aside {
    max-width: 200px;
    background-color: rgb(216, 168, 78);
    border-radius: 25px;
    padding: 10px;
    float: right;
    text-align: center;
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.60);
}

.aside__list {
    color: black;
    font-size: 20px;
    line-height: 2;
    padding: 10px;
    list-style: none;
}

.aside__link {
    color: black;
    font-size: 20px;
    line-height: 2;
    padding: 10px;
    font-weight: bold;
}

.aside__link:active {
    color: red;
}